.signup {
    color: #2f333b;
    place-items: center;
}

.signup__main {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 60vh;
    margin-left: 20vw;
    margin-top: 20vh;
    background: lightgrey;
    align-content: center;
}

.signup__header {
    padding: 10px;
    text-align: center;
}

.signup__header > h2 {
    margin-bottom: 10px;
}

.signup__body {
    color: #ffffff;
    align-content: center;
}

.signup__body > .MuiSvgIcon-root {
    color: gray;
    padding: 5px;
}

.signup__footer {
    flex: 1;
    align-content: center;
}