.signup {
    color: #2f333b;
    display: flex;
}

.signup__main {
    flex-direction: column;
    border-radius: 5px;
    width: 60vw;
    height: 60vh;
    margin-left: 20vw;
    margin-top: 15vh;
    background: lightgrey;
    align-content: center;
    padding: 20px;
}

.signup__header{
    text-align: center;
}

.signup__container{
    flex: 1;
    margin-top: 10px;
    width: 100%;
}

.signup__button{
    margin-top: 10px;
}