.app{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #000000;
}

.app__body{
    display: flex;
    background-color: #ededed;
    margin-top: -40px;
    height: 90vh;
    width: 90vw;
}

/*nav bg: #20232A*/
/* grey #ECECEC*/
/* dark -01 : #282C34 */
/* dark-02: #20232A */