.app{
    display: grid;
    place-items: center;
}

.app__body{
    display: flex;
    background-color: #20232A;
    height: 100vh;
    width: 100vw;
}

/*nav bg: #20232A*/
/* grey #ECECEC*/
/* dark -01 : #282C34 */
/* dark-02: #20232A */